{% extends 'absensi/base.html' %}
{% block content %}
    <p><a href="{% url 'mahasiswa_add' %}" class="btn btn-success"><b>Tambah Mahasiswa</b></a></p>
    <br>
    {% for matkul in mahasiswa %}
    <h3><a href="{% url 'mahasiswa_detail_view' matkul.id %}">{{matkul.nama_mahasiswa}}</a></h3>
    <i>Semester :</i>
    {% if  matkul.semester == '1' %}
        Semester Satu
        {% elif matkul.semester == '2' %}
            Semester Dua
        {% elif matkul.semester == '3' %}
            Semester Tiga
        {% elif matkul.semester == '4' %}
            Semester Empat
        {% elif matkul.semester == '5' %}
            Semester Lima
            {% else %}
                Semester Enam
        {% endif %}
    {% endfor %}
{% endblock %}

