{% extends 'absensi/base.html' %}
{% block content %}
    <a href="{% url 'home_page' %}"><b> <--Back </b></a>
    <h3>Tambah Data Mahasiswa</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nama_mahasiswa" class="form-label">Nama Mahasiswa</label>
            <input type="text" class="form-control" id="nama_mahasiswa" name="nama_mahasiswa">
        </div>
        <div class="mb-3">
            <label for="nim" class="form-label">NIM</label>
            <input type="text" class="form-control" id="nim" name="nim">
        </div>
        <div class="mb-3">
            <label for="nim" class="form-label">Semester</label>
            <select class="form-select" aria-label="Default select example" name="semester">
                <option selected>Plilh Semester!</option>
                <option value="1">Satu</option>
                <option value="2">Dua</option>
                <option value="3">Tiga</option>
                <option value="4">Empat</option>
                <option value="5">Lima</option>
                <option value="6">Enam</option>
              </select>
        </div>
        <div class="mb-3">
            <label for="matkul" class="form-label">Mata Kuliah</label>
            <input type="text" class="form-control" id="matkul" name="matkul">
        </div>
        <div class="mb-3">
            <label for="keterangan" class="form-label">Keterangan</label>
            <textarea class="form-control" id="keterangan" rows="3" name="keterangan"></textarea>
        </div>
        
        <input type="submit" value="Simpan">
    </form>
{% endblock %}