{% extends 'absensi/base.html' %}
{% block content %}
    <a href="{% url 'mahasiswa_detail_view' mahasiswa.id %}"><b> <--Back </b></a>
    <h3>Edit Data Mahasiswa</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Update">
    </form>
{% endblock %}