{% extends 'absensi/base.html' %}
{% block content %}
    <a href="{% url 'home_page' %}"><b>Back</b></b></a>
    <h3 style="color: deeppink">{{ mahasiswa.nama_mahasiswa }}</h3>
    <b>Kategori :</b>
        {% if matkul.semester == '1' %} Semester Satu
            {% elif matkul.semester == '2' %}Semester Dua
            {% else %} Semester 3
        {% endif %}<br>
    <b>nama_mahasiswa :</b> {{ mahasiswa.nama_mahasiswa }}<br>
    <b>nim :</b> {{ mahasiswa.nim }}<br>
    <b>semester :</b> {{ mahasiswa.semester }}<br>
    <b>matkul :</b>{{ mahasiswa.matkul }}<br>
    <b>keterangan</b> {{ mahasiswa.keterangan}}<br>

    <br><br>
    <a href="{% url 'mahasiswa_edit' mahasiswa.id %}" class="btn btn-primary">Edit Mahasiswa</a> &nbsp;
    <a href="{% url 'mahasiswa_delete' mahasiswa.id %}" class="btn btn-danger">Hapus Mahasiswa</a>
{% endblock %}

