{% extends 'absensi/base.html' %}
{% block content %}
	<a href= "{% url 'mahasiswa_detail_view' mahasiswa.id %}" ><b> <--Back </b></a>
	<h3>!!! Peringatan !!!</h3>
	Apakah anda yakin ingin menghapus mahasiswa : {{ mahasiswa.nama_mahasiswa }} ?
	<form action="" method="post">
		{% csrf_token %}
		<input type="submit" name="" value="Ya, yakin!">
	</form>
{% endblock %}